{% extends "base.html" %}

{% block title %}Генератор изображений{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron bg-light p-5 rounded">
            <h1 class="display-4">Генератор изображений</h1>
            <p class="lead">Добро пожаловать в систему управления генерацией изображений</p>
            <hr class="my-4">
            <p>Используйте наш сервис для создания красивых изображений на основе текстовых описаний</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.collections') }}" role="button">Просмотреть коллекции</a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">Коллекции</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Просмотр и управление коллекциями для генерации изображений</p>
                <a href="{{ url_for('main.collections') }}" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-success text-white">
                <h5 class="card-title mb-0">Генерация</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Создание новых изображений по описанию</p>
                <a href="#" class="btn btn-success">Создать</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-info text-white">
                <h5 class="card-title mb-0">Настройки</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Управление настройками и параметрами генерации</p>
                <a href="#" class="btn btn-info">Настроить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 